@import url('./style/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./style/Header.css');

:root{
    --font-principal: "Inter", sans-serif;
    --gray: #667085;
    --gray-dark: #101828;
    --main-color: #8E2424;

}
*{
    box-sizing: border-box;
    background-color: #FFFFFF;
}
body{
    padding: 0 1%;
}
.container
{
    /* background-color: rgb(137, 97, 44); */
    height:88.2vh;
    display: flex;
    flex-direction: column;
    /* padding: 2% 25% 0 25%; */
}

.container__about{
    /* background-color: #667085; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10%;
    padding: 2% 25% 0 25%;
}

.container__about > span{
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 600;
    color:var(--main-color); 
}

.container__about > h1{
    font-family: var(--font-principal);
    font-size:3rem;
    font-weight: 600;
    color: #101828;
}

.container__about > p{
    font-family: var(--font-principal);
    font-size:1.2rem;
    font-weight: 400;
    color: var(--gray);
    line-height: 1.5;
    text-align: center;
}

.container__metrics ul{
    display: flex;
    gap:1.1rem;
    justify-content: center;
}
.container__metrics li{
    width: 22%;
    /* height: 13em; */
    /* background-color: #667085; */
    display: flex;
    
    flex-direction: column;
     padding: 2.5% 2% 0 2%;
}
.container__metrics span{
    font-family: var(--font-principal);
    font-size: 4rem;
    font-weight: 600;
    color: var(--main-color);
    padding-bottom: 0.4em;
}

.container__title-middle
{
    font-family: var(--font-principal);
    color: var(--gray-dark);
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.container__title-description{
    font-family: var(--font-principal);
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.container__talent
{
     /* background-color: rgb(137, 97, 44); */
     height:100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 1.2em;
     /* padding: 2% 25% 0 25%; */
}

.container__talent-title{
    background-color: #8E24240D;
    color: var(--main-color);
    padding:0.3em 0.6em;
    border-radius: 1em;
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 0.9rem;
}

.container__talent h2{
    color: var(--gray-dark);
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 2.1rem;
    padding-bottom: 0.6rem;
}

.container__talent p{
    color: var(--gray);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.2rem;
}

.container__talent img{
    width: 87%;
    padding-top:3rem;
}

.container__job-title {
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--gray-dark);
    padding-bottom: 3%;
}

.container__talent-job{
      /* background-color: rgb(137, 97, 44); */
      height:100vh;
      display: flex;
      padding: 1% 25% 10% 25%;
     
      /* align-items: center; */
      flex-direction: column;
      gap: 1.2em;
      /* padding: 2% 25% 0 25%; */
}


.container__job-info {
    /* background-color: rgb(137, 97, 44); */
    display: flex;
    padding-bottom:10%;
    /* align-items: center; */
    flex-direction: column;
    gap: 1.2em;
    /* padding: 2% 25% 0 25%; */
}
.container__job
{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.container__job-item{
    width:48em;
    height:8.5em;
    border: 1px solid #EAECF0;
    border-radius: 1rem;
    padding: 1.9em 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.container__job-item span{
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 1.15rem;
    color: var(--gray-dark);

}

.container__job-item-desc
{
    display: flex;
    font-family: var(--font-principal);
    color:var(--gray);
    font-size: 1rem;
    font-weight: 500;
    gap:2rem;
}