@import url('./style/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./style/Header.css');

:root{
    --font-principal: "Inter", sans-serif;
    --gray: #667085;
    --main-color: #8E2424;

}
*{
    box-sizing: border-box;
    background-color: #FFFFFF;
}
.container
{
    /* background-color: rgb(137, 97, 44); */
    height:88.2vh;
    display: flex;
    flex-direction: column;
    padding: 2% 25% 0 25%;
}

.container__about{
    /* background-color: #667085; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10%;
}

.container__about > span{
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 600;
    color:var(--main-color); 
}

.container__about > h1{
    font-family: var(--font-principal);
    font-size:3rem;
    font-weight: 600;
    color: #101828;
}

.container__about > p{
    font-family: var(--font-principal);
    font-size:1.2rem;
    font-weight: 400;
    color: var(--gray);
    line-height: 1.5;
}